/* Start navbar */
.nav-admin-data {
    display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
    background: #fff !important;
}

.nav-admin-data .prof-btn {
    background-color: #f1f1f1;
}
/* End navbar */

/* Start login page */
.login-page {
    background: #343a40 !important;
}

.admin-form {
    background-color: #686868;
    color: rgb(255 255 255 / 80%);
    border-radius: 0;
}

.admin-form a {
    color: rgb(255 255 255 / 80%);
}

.admin-form a:hover {
    color: rgb(255 255 255 / 40%);
}

.admin-form input,
.admin-form input:focus,
.admin-form input:active {
    background-color: #484848;
    color: rgb(255 255 255 / 80%);
    border-bottom: 1px solid rgb(177 177 177 / 80%);
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    border-radius: 0;
}

#password {
    position: relative;
}

#showPassword {
    position: absolute;
    right: 25px;
    top: 7px;
    color: #000;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
/* End login page */

/* Start dashboard */
.main-header .profile-pic {
    width: 125px !important;
    height: 125px !important;
    -webkit-box-shadow: 0 0 3px 0 rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 0 3px 0 rgb(0 0 0 / 50%);
    -ms-box-shadow: 0 0 3px 0 rgb(0 0 0 / 50%);
    -o-box-shadow: 0 0 3px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 50%);;
}
/* End dashboard */

/* Start about page */
.about-img-bc {
    width: 700px;
    height: 200px;
}

.about-img {
    width: 300px;
    height: 250px;
}

@media(max-width: 992px) {
    .about-img-bc,
    .about-img {
        width: auto;
        height: auto;
    }
}
/* End about page */

/* Start profile page */
.profile-img-bc {
    width: 700px;
    height: 200px;
}

@media(max-width: 992px) {
    .profile-img-bc {
        width: auto;
        height: auto;
    }
}
/* End profile page */

/* Start contacts page */
.contacts-img-bc {
    width: 700px;
    height: 200px;
}

@media(max-width: 992px) {
    .contacts-img-bc {
        width: auto;
        height: auto;
    }
}
/* End contacts page */

/* Start services page */
.admin-service-img {
    width: 100%;
    height: 100px;
}
/* End services page */
